.GoalsMainDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 69vw;
    
    position: relative;
    bottom: 50vh;    
    height: 50vh;
    width: 26vw;
    font-size: 1.8vw;
    border-radius: .5vw;
    padding: 5vh 1vw;
    line-height: 10vh;
    color: white;
    background-color: #1f2029;
}

.GoalsMainDiv > div {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    width: 100%;
}

.GoalsMainDiv > div > span, .GoalsMainDiv > div > dt {
    display: flex;
    align-items: center;
}

.fa-bullseye, .fa-coffee, .fa-reorder {
    font-size: 1.5vw;
    
    background-color: red;
    border-radius: 50%;
    margin-right: 1.5vw;
    padding: 1.5vw;
    color: white;
    margin-top: 2vh;
}

.fa-bullseye {
    background-color: #613230;
    color: #e26b2f;
}

.fa-coffee {
    background-color: #2a3266;
    color: #6777ce;
}

.fa-reorder {
    background-color: #204964;
    color: #2590bc;
    margin-left: .2vw;
}

.GoalsTitle {
    font-size: 1.3vw;
    font-weight: 350;
}

.Goals{
    margin-left: 0vw;
}

.Popular{
    margin-left: -0.2vw;
}

.Menus{
    margin-left: .1vw;
}

.Goals +.fa-arrow-circle-right{
    margin-left: 12.1vw;
}

.Popular +.fa-arrow-circle-right{
    margin-left: 6.8vw ;
}

.Menus +.fa-arrow-circle-right{
    margin-left: 11.2vw ;
    
} 


/* Responsive styles for small screens (up to 480px) */
@media (max-width: 480px) {
    .GoalsMainDiv {
        margin-left: 16vw;
        margin-top: 11.5vh;
        bottom: 10vh; /* Adjust based on content */
        height: auto; /* Allow height to adjust based on content */
        width: 80vw;
        font-size: 4vw; /* Increase font size for small screens */
        padding: 2vw 8vw;
        border-radius: 2vw;
        line-height: 6vh;
    }

    .GoalsMainDiv > div {
        margin-bottom: 2vh;
    }

    .fa-bullseye, .fa-coffee, .fa-reorder {
        font-size: 5vw;
        margin-right: 2vw;
        padding: 3vw;
        margin-top: 2vh;
    }

    .fa-reorder {
        margin-left: 0;
    }

    .GoalsTitle {
        font-size: 5vw;
        font-weight: bold;
    }

    .Goals {
        margin-left: 1vw;
    }

    .Popular {
        margin-left: 0;
    }

    .Menus {
        margin-left: 1.5vw;
    }

    .Goals + .fa-arrow-circle-right {
        margin-left: 30vw;
    }

    .Popular + .fa-arrow-circle-right {
        margin-left: 8.5vw;
    }

    .Menus + .fa-arrow-circle-right {
        margin-left: 27.3vw;
    }
}

/* Responsive styles for medium screens (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .GoalsMainDiv {
        display: flex; /* Ensure the container is a flex container */
        flex-direction: row; /* Align children in a row */
        align-items: center; /* Vertically center items */
        justify-content: space-between; /* Distribute items evenly */
        margin-left: 10vw;
        margin-top: 33vh;
        bottom: 30vh; /* Adjust based on content */
        height: 15vh; /* Allow height to adjust based on content */
        width: 86vw;
        font-size: 2.5vw; /* Increase font size for medium screens */
        padding: 4vh 2vw;
        line-height: 8vh;
        border-radius: 1.5vw;
        background-color: #1f2029; /* Ensure background color is consistent */
    }

    .GoalsMainDiv div{
        margin-left: 0vw;
    }

    .fa-bullseye, .fa-coffee, .fa-reorder {
        font-size: 2.5vw;
        margin-right: 1.5vw;
        padding: 1.5vw;
        margin-top: 0vh;
    }

    .fa-reorder {
        margin-left: 06vw;
    }
    .fa-coffee {
        margin-left: -2vw;
    }

    .GoalsTitle {
        font-size: 2.5vw;
        font-weight: bold;
    }

    .Goals {
        margin-left: 0;
    }

    .Popular {
        margin-left: 0;
    }

    .Menus {
        margin-left: 0;
    }

    .Goals + .fa-arrow-circle-right {
        margin-left: 02vw;
    }

    .Popular + .fa-arrow-circle-right {
        margin-left: 1.8vw;
    }

    .Menus + .fa-arrow-circle-right {
        margin-left: 2vw;
    }
}

/* Responsive styles for large screens (769px to 1440px) */
@media (min-width: 769px) and (max-width: 855px) {
    .GoalsMainDiv {
        display: flex; /* Ensure the container is a flex container */
        flex-direction: column; /* Align children in a column */
        align-items: center; /* Horizontally center items */
        justify-content: center; /* Vertically center items */
        margin-left: 72.5vw; /* Center horizontally */
        height: 50vh; /* Adjust based on content */
        width: 26vw; /* Adjust width as needed */
        font-size: 1.8vw;
        padding: 4vh 2vw;
        line-height: 8vh;
        background-color: #1f2029; /* Ensure background color is consistent */
        border-radius: .5vw; /* Rounded corners */
    }

    .GoalsMainDiv > div {
        display: flex; /* Ensure child elements are flex containers */
        flex-direction: row; /* Align items in a row within each div */
        align-items: center; /* Vertically center items within each div */
        margin-bottom: 2vh; /* Space between rows */
        width: 100%; /* Full width of the container */
    }

    .fa-bullseye, .fa-coffee, .fa-reorder {
        font-size: 2vw; /* Adjust icon size */
        margin-right: 2vw; /* Space between icons */
        padding: 1vw; /* Adjust padding for icon size */
    }

    .fa-reorder {
        margin-left: 0vw; /* Space before the reorder icon */
    }

    .GoalsTitle {
        font-size: 2vw; /* Adjust font size */
        font-weight: bold;
        margin-left: 1vw; /* Space between title and icon */
    }

    .Goals, .Popular, .Menus {
        margin-left: -1vw; /* No extra margin */
    }

    .Goals + .fa-arrow-circle-right {
        margin-left: 9.7vw;
    }

    .Popular + .fa-arrow-circle-right {
        margin-left: 0.7vw;
    }

    .Menus + .fa-arrow-circle-right {
        margin-left: 9vw;
    }
    
}
@media (min-width: 855px) and (max-width: 1184px) {
    .GoalsMainDiv {
        display: flex; /* Ensure the container is a flex container */
        flex-direction: column; /* Align children in a column */
        align-items: center; /* Horizontally center items */
        justify-content: center; /* Vertically center items */
        margin-left: 71.5vw; /* Center horizontally */
        height: 50vh; /* Adjust based on content */
        width: 26vw; /* Adjust width as needed */
        font-size: 1.8vw;
        padding: 4vh 2vw;
        line-height: 8vh;
        background-color: #1f2029; /* Ensure background color is consistent */
        border-radius: .5vw; /* Rounded corners */
    }

    .GoalsMainDiv > div {
        display: flex; /* Ensure child elements are flex containers */
        flex-direction: row; /* Align items in a row within each div */
        align-items: center; /* Vertically center items within each div */
        margin-bottom: 2vh; /* Space between rows */
        width: 100%; /* Full width of the container */
    }

    .fa-bullseye, .fa-coffee, .fa-reorder {
        font-size: 2vw; /* Adjust icon size */
        margin-right: 2vw; /* Space between icons */
        padding: 1vw; /* Adjust padding for icon size */
    }

    .fa-reorder {
        margin-left: 0vw; /* Space before the reorder icon */
    }

    .GoalsTitle {
        font-size: 2vw; /* Adjust font size */
        font-weight: bold;
        margin-left: 1vw; /* Space between title and icon */
    }

    .Goals, .Popular, .Menus {
        margin-left: -1vw; /* No extra margin */
    }

    .Goals + .fa-arrow-circle-right {
        margin-left: 9.7vw;
    }

    .Popular + .fa-arrow-circle-right {
        margin-left: 0.7vw;
    }

    .Menus + .fa-arrow-circle-right {
        margin-left: 9vw;
    }
    
}

/* Responsive styles for large screens (769px to 1440px) */
@media (min-width: 1185px) and (max-width: 1283px) {
    .GoalsMainDiv {
        display: flex; /* Ensure the container is a flex container */
        flex-direction: column; /* Align children in a column */
        align-items: center; /* Horizontally center items */
        justify-content: center; /* Vertically center items */
        margin-left: 70.5vw; /* Center horizontally */
        height: 50vh; /* Adjust based on content */
        width: 26vw; /* Adjust width as needed */
        font-size: 1.8vw;
        padding: 4vh 2vw;
        line-height: 8vh;
        background-color: #1f2029; /* Ensure background color is consistent */
        border-radius: .5vw; /* Rounded corners */
    }

    .GoalsMainDiv > div {
        display: flex; /* Ensure child elements are flex containers */
        flex-direction: row; /* Align items in a row within each div */
        align-items: center; /* Vertically center items within each div */
        margin-bottom: 2vh; /* Space between rows */
        width: 100%; /* Full width of the container */
    }

    .fa-bullseye, .fa-coffee, .fa-reorder {
        font-size: 2vw; /* Adjust icon size */
        margin-right: 2vw; /* Space between icons */
        padding: 1vw; /* Adjust padding for icon size */
    }

    .fa-reorder {
        margin-left: 0.5vw; /* Space before the reorder icon */
    }

    .GoalsTitle {
        font-size: 2vw; /* Adjust font size */
        font-weight: bold;
        margin-left: 1vw; /* Space between title and icon */
    }

    .Goals, .Popular, .Menus {
        margin-left: -1vw; /* No extra margin */
    }

    .Goals + .fa-arrow-circle-right {
        margin-left: 9.4vw;
    }

    .Popular + .fa-arrow-circle-right {
        margin-left: 1vw;
    }

    .Menus + .fa-arrow-circle-right {
        margin-left: 8vw;
    }
    
}
/* Responsive styles for large screens (769px to 1440px) */
@media (min-width: 1283px) and (max-width: 1440px) {
    .GoalsMainDiv {
        display: flex; /* Ensure the container is a flex container */
        flex-direction: column; /* Align children in a column */
        align-items: center; /* Horizontally center items */
        justify-content: center; /* Vertically center items */
        margin-left: 70vw; /* Center horizontally */
        height: 50vh; /* Adjust based on content */
        width: 26vw; /* Adjust width as needed */
        font-size: 1.8vw;
        padding: 4vh 2vw;
        line-height: 8vh;
        background-color: #1f2029; /* Ensure background color is consistent */
        border-radius: .5vw; /* Rounded corners */
    }

    .GoalsMainDiv > div {
        display: flex; /* Ensure child elements are flex containers */
        flex-direction: row; /* Align items in a row within each div */
        align-items: center; /* Vertically center items within each div */
        margin-bottom: 2vh; /* Space between rows */
        width: 100%; /* Full width of the container */
    }

    .fa-bullseye, .fa-coffee, .fa-reorder {
        font-size: 2vw; /* Adjust icon size */
        margin-right: 2vw; /* Space between icons */
        padding: 1vw; /* Adjust padding for icon size */
    }

    .fa-reorder {
        margin-left: 0.5vw; /* Space before the reorder icon */
    }

    .GoalsTitle {
        font-size: 1.5vw; /* Adjust font size */
        margin-left: 1vw; /* Space between title and icon */
        font-weight: bold;
    }

    .Goals, .Popular, .Menus {
        margin-left: -1vw; /* No extra margin */
    }

    .Goals + .fa-arrow-circle-right {
        margin-left: 9.5vw;
    }

    .Popular + .fa-arrow-circle-right {
        margin-left: 2.5vw;
    }

    .Menus + .fa-arrow-circle-right {
        margin-left: 8.3vw;
    }
    
}

/* Responsive styles for extra-large screens (1440px and up) */
@media (min-width: 1440px) and (max-width:1519px) {
    .GoalsMainDiv {
        margin-left: 69vw;
        margin-top: -22vw;
        bottom: 20vh; /* Adjust based on content */
        height: 60vh;
        width: 26vw;
        font-size: 1.5vw;
        padding: 5vh 2vw;
        line-height: 14vh;
    }

    .fa-bullseye, .fa-coffee, .fa-reorder {
        font-size: 1.5vw;
        margin-right: 1.5vw;
        padding: 1.5vw;
    }

    .fa-reorder {
        margin-left: 0.4vw;
    }

    .GoalsTitle {
        font-size: 1.4vw;
        font-weight: bold;
    }

    .Goals {
        margin-left: 0;
    }

    .Popular {
        margin-left: 0;
    }

    .Menus {
        margin-left: 0;
    }

    .Goals + .fa-arrow-circle-right {
        margin-left: 10.5vw;
    }

    .Popular + .fa-arrow-circle-right {
        margin-left: 4vw;
    }

    .Menus + .fa-arrow-circle-right {
        margin-left: 9.5vw;
    }
}

/* Responsive styles for extra-large screens (1440px and up) */
@media (min-width: 1519px) and (max-width:2560px) {
    .GoalsMainDiv {
        margin-left: 69vw;
        margin-top: -40vh;
        bottom: 20vh; /* Adjust based on content */
        height: 60vh;
        width: 26vw;
        font-size: 1.5vw;
        padding: 5vh 2vw;
        line-height: 14vh;
    }

    .fa-bullseye, .fa-coffee, .fa-reorder {
        font-size: 1.5vw;
        margin-right: 1.5vw;
        padding: 1.5vw;
    }

    .fa-reorder {
        margin-left: 0.4vw;
    }

    .GoalsTitle {
        font-size: 1.4vw;
        font-weight: bold;
    }

    .Goals {
        margin-left: 0;
    }

    .Popular {
        margin-left: 0;
    }

    .Menus {
        margin-left: 0;
    }

    .Goals + .fa-arrow-circle-right {
        margin-left: 10.5vw;
    }

    .Popular + .fa-arrow-circle-right {
        margin-left: 4vw;
    }

    .Menus + .fa-arrow-circle-right {
        margin-left: 9.5vw;
    }
}

@media (min-width:2560px) {
    .GoalsMainDiv {
        margin-left: 69.8vw;
        margin-top: -40vh;
        bottom: 20vh; /* Adjust based on content */
        height: 60vh;
        width: 26vw;
        font-size: 1.5vw;
        padding: 5vh 2vw;
        line-height: 14vh;
    }

    .fa-bullseye, .fa-coffee, .fa-reorder {
        font-size: 1.5vw;
        margin-right: 1.5vw;
        padding: 1.5vw;
    }

    .fa-reorder {
        margin-left: 0.4vw;
    }

    .GoalsTitle {
        font-size: 1.4vw;
        font-weight: bold;
    }

    .Goals {
        margin-left: 0;
    }

    .Popular {
        margin-left: 0;
    }

    .Menus {
        margin-left: 0;
    }

    .Goals + .fa-arrow-circle-right {
        margin-left: 10.5vw;
    }

    .Popular + .fa-arrow-circle-right {
        margin-left: 4vw;
    }

    .Menus + .fa-arrow-circle-right {
        margin-left: 9.5vw;
    }
}